* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #eaeaea;
  height: 100%;
}

.main {
  flex: 1 1 auto;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  font-size: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

select {
  color: inherit;
  appearance: none;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
