.header {
  padding: 15px 0;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    gap: 25px;

    img {
      width: 23px;
      height: 23px;
    }
  }
}
