.section {
  padding-top: 28px ;

  &__wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  &__title {
    color: #838383;
    font-size: 20px;
    font-weight: 600;
  }
}
